/* 
used this color palette from coolors.co to make the CSS more cohesive and more readable:
$dark-olive-green: rgba(96, 108, 56, 1);
$kombu-green: rgba(40, 54, 24, 1);
$cornsilk: rgba(254, 250, 224, 1);
$fawn: rgba(221, 161, 94, 1);
$liver-dogs: rgba(188, 108, 37, 1);
*/

* {
    box-sizing: border-box;
}



body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(254, 250, 224);
    color: rgb(40, 54, 24);
    font-size: 22px;
    margin: 0 auto; /*allows the header and footer to go all the way to the edge of the page*/
}

header {
    background-color: rgb(96, 108, 56, 0.85);
    margin-bottom: 40px;
    border-bottom: 3px solid rgb(40, 54, 24, 0.5);
}

header h1 {
    font-family: 'Homemade Apple', cursive;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    font-size: 50px;
}

/* in mobile view the nav bar will be centered */
header nav {
    display: flex;
    justify-content: center;
}

header nav ul {
    display: flex;
    padding-left: 0; /*this removes the automatic padding that comes with lists*/
    list-style: none; /*removes the bullets*/
}

header nav ul li a {
    color: rgb(254, 250, 224); /*sets nav link color*/
    text-decoration: none;
    margin-right: 20px; /*adds visual space between each anchor tag*/
}

header nav ul li a:hover {
    color: rgb(40, 54, 24);
}

header nav ul li:last-child a {
    margin-right: 0;
}

/* in mobile view the h2s will be centered */
h2 {
    font-size: 35px;
    text-align: center;
}

h3 {
    font-size: 25px;
}

/* in mobile view the info, about, and portfolio sections will be centered */
#intro, #about, #portfolio {
    text-align: center;
}

/* added some padding around the main section */
.wrapper {
    padding: 60px;
}

/* flex display for each section */
.group {
    display: flex;
    flex-direction: column;
}

.item {
    flex: 1;
    margin: 10px;
}

.item-double {
    flex: 2;
}

.item-triple {
    flex: 3;
}

/* created a border to give the image slightly rounded corners */
img {
    width: 100%;
    border: 1px solid rgb(48, 46, 46, 0.5);
    border-radius: 10px;
}

/* styled the portfolio project links separately */
.project {
    font-size: 16px;
    text-decoration: none;
}

section a:visited, section a:link {
    color: rgb(40, 54, 24);
}

section a:hover {
    color: rgb(188, 108, 37);
}

/* form labels display on top of the field */
form label {
    display: block;
}

/* form field takes up the full width of the container */
form input[type="text"], form input[type="email"] {
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

form textarea {
    height: 100px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

/* styling for the submit and reset buttons */
form button {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 13px;
    background-color: rgb(40, 54, 24);
    color: rgb(254, 250, 224);
    margin: 10px 10px 0 0;
}

footer {
    text-align: center;
    color: rgb(254, 250, 224);
    background-color: rgb(96, 108, 56, 0.85);
    padding: 10px;
    border-top: 3px solid rgb(40, 54, 24, 0.5);
    font-size: 22px;
}

hr {
    width: 70%;
}

/* some CSS changes for destop view -- header is spread horizontally, nav bar is centered in the container, 
flex direction is changed to row, and the h2s and sections are aligned to the left */
@media all and (min-width: 600px) {
    header {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
    }
    header h1 {
        margin: 14px;
    }
    header nav {
        align-items: center;
    }
    .group {
        flex-direction: row;
    }
    h2, #info, #about, #portfolio {
        text-align: left;
    }
}



